.App {
  margin-top: 50px;
  width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  background: whitesmoke;

  h1 {
    transform: translateY(-150%);
    font-size: 1.2rem;
    color:red;
  }
}